
{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="section position-relative border-top-bottom-light">
    <div class="bg-section img-pattern"></div>
    <div class="container position-relative">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid1x2">
          <div data-delay="4000" data-animation="slide" data-autoplay="1" data-easing="ease-out-expo" data-duration="1900" data-infinite="1" id="w-node-65e3e86b6009-47e5635f" class="c-heroslider w-slider">
            <div class="mask w-slider-mask">
              <div class="c-heroslider__slide w-slide">
                <div class="c-heroslider__content img2">
                  <div class="container container-nested xs-no-negative-margin-lr">
                    <div class="col lg-1"></div>
                    <div class="col lg-6 md-12">
                      <div class="pre-title is-body-text-color">Winter collection is coming</div>
                      <h2 class="xs-size-h3">Avenue 405 Renee Wooden Leg Chair</h2>
                      <div class="flexh-align-center margin-bottom">
                        <div class="c-heroslider__discount">27% OFF</div>
                        <div class="c-heroslider__line"></div>
                      </div>
                      <a href="#" class="button-primary is-small w-inline-block">
                        <div class="button-primary-text">Buy now</div>
                      </a>
                    </div>
                    <div class="col lg-5"></div>
                  </div>
                </div>
              </div>
              <div class="c-heroslider__slide w-slide">
                <div class="c-heroslider__content">
                  <div class="container container-nested xs-no-negative-margin-lr">
                    <div class="col lg-1"></div>
                    <div class="col lg-6 md-12">
                      <div class="pre-title is-body-text-color">Winter collection is coming</div>
                      <h2 class="xs-size-h3">Herman Miller Tosca And Cabinet Chair</h2>
                      <div class="flexh-align-center margin-bottom">
                        <div class="c-heroslider__discount">27% OFF</div>
                        <div class="c-heroslider__line"></div>
                      </div>
                      <a href="#" class="button-primary is-small w-inline-block">
                        <div class="button-primary-text">Buy now</div>
                      </a>
                    </div>
                    <div class="col lg-5"></div>
                  </div>
                </div>
              </div>
              <div class="c-heroslider__slide w-slide">
                <div class="c-heroslider__content img3">
                  <div class="container container-nested xs-no-negative-margin-lr">
                    <div class="col lg-1"></div>
                    <div class="col lg-6 md-12">
                      <div class="pre-title is-body-text-color">Winter collection is coming</div>
                      <h2 class="xs-size-h3">Beck Armchair Sofa Leather True Grey</h2>
                      <div class="flexh-align-center margin-bottom">
                        <div class="c-heroslider__discount">70% OFF</div>
                        <div class="c-heroslider__line"></div>
                      </div>
                      <a href="#" class="button-primary is-small w-inline-block">
                        <div class="button-primary-text">Buy now</div>
                      </a>
                    </div>
                    <div class="col lg-5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="hidden w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="c-heroslider__nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
          <a data-w-id="0a231ed8-5fe2-b26e-23bc-3273827aff7e" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content style2">
              <div class="text-medium is-heading-color weight-is-medium">Spruce time starts!</div>
              <div class="flexh-align-center">
                <div class="text-small is-heading-color margin-right-small">Browse collection</div>
                <div class="iconfont is-11px is-heading-color"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-gridgallery1__image"></div>
          </a>
          <a data-w-id="b8cbde19-d8ab-99ce-dfb3-64b94bb6dc16" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content style2">
              <div class="text-medium is-heading-color weight-is-medium">Elegant accessories</div>
              <div class="flexh-align-center">
                <div class="text-small is-heading-color margin-right-small">Shop accessories </div>
                <div class="iconfont is-11px is-heading-color"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div class="c-gridgallery1__image img2"></div>
          </a>
        </div>
      </div>
    </div>
    <h2 class="text-align-center">Popular Category</h2>
    <div class="container position-relative">
      <div class="col lg-12">
        <div class="c-ghost-panel">
          <div class="flex-horizontal md-is-wrapping">
           {%for c in category %}
           <div class="col lg-4 xs-12">
            <div class="flexh-align-top md-is-wrapping">
                {% if c.image %}
                <img src="{{c.image.url}}" style="height: 20vh; object-fit: cover;" width="140" alt="" class="margin-right md-margin-bottom">

            
                {% endif %}
              <div>
                <div class="size-h4 margin-bottom">{{c.category_name}}</div>
              <a href="#" class="cta-link xs-margin-bottom"><span class="margin-right">View Products</span><span class="fa c-cta1_arrow-hovered"></span> <span class="fa c-cta1__arrow-normal"></span></a></div>
            </div>
          </div>

           {%endfor%}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section position-relative">
    <div class="container">
      <div class="col block-centered text-align-center lg-6 md-12">
        <h2>New arrivals</h2>
        <div class="low-text-contrast">Our latest armchair collections have been crafted by some of the best interior, woodcrafter and also designers in the world</div>
      </div>
    </div>
    <div class="container">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid1x5">
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Albert Armchair, Nubuck Broken White</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">GDF Studio Aurora Mid-Century Modern Accent Chairs</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Handle Back Retro Kitchen Chair</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Modern Club Chair Barrel Design</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Modern Contemporary Lounge Room Armchair</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section no-padding-top">
    <div class="container">
      <div class="col lg-12">
        <div class="c-lookbook">
          <div class="container container-nested">
            <div class="col lg-1"></div>
            <div class="col lg-6">
              <div class="pre-title on-dark">The new way to design your home</div>
              <div class="size-h1 on-dark margin-bottom-double">Checkout our 2019 collections lookbook </div>
              <div class="iconfont is-64px on-dark margin-bottom-double"><em class="iconfont__no-italize"></em></div><a href="#" class="cta-link on-dark"><span class="margin-right">See all videos</span> <span class="fa c-cta1_arrow-hovered"></span> <span class="fa c-cta1__arrow-normal"></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section position-relative border-top-bottom-light">
    <div class="bg-section img-pattern"></div>
    <div class="container position-relative">
      <div class="col block-centered text-align-center lg-6 md-12">
        <h2>Our collection</h2>
        <div>Our latest armchair collections have been crafted by some of the best interior, woodcrafter and also designers in the world</div>
      </div>
    </div>
    <div class="container position-relative">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid2x4">
          <a id="w-node-54979027d4fd-47e5635f" data-w-id="bcca06e4-208c-f58d-c2c1-54979027d4fd" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content">
              <div class="on-dark text-medium weight-is-medium">Furniture to make your home yours</div>
              <div class="flexh-align-center">
                <div class="on-dark margin-right-small text-small">Browse furnitures</div>
                <div class="iconfont on-dark is-11px"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div class="c-gridgallery1__image img3"></div>
          </a>
          <a id="w-node-f6dc254893d3-47e5635f" data-w-id="9a215ac5-7e5d-5a84-e2f6-f6dc254893d3" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content">
              <div class="on-dark text-medium weight-is-medium">Bohemian &amp; electic style</div>
              <div class="flexh-align-center">
                <div class="on-dark margin-right-small text-small">View collections</div>
                <div class="iconfont on-dark is-11px"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div class="c-gridgallery1__image img4"></div>
          </a>
          <a id="w-node-05c4d82475fd-47e5635f" data-w-id="0122bd8d-5dc0-da1e-d149-05c4d82475fd" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content">
              <div class="on-dark text-medium weight-is-medium">The finishing touch you&#x27;ve been looking for</div>
              <div class="flexh-align-center">
                <div class="on-dark margin-right-small text-small">Shop accessories </div>
                <div class="iconfont on-dark is-11px"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div class="c-gridgallery1__image img6"></div>
          </a>
          <a id="w-node-9977055c535b-47e5635f" data-w-id="dad733d8-03e7-7ed7-76b0-9977055c535b" href="#" class="link-block w-inline-block">
            <div class="c-gridgallery1__content">
              <div class="on-dark text-medium weight-is-medium">Living room decorations</div>
              <div class="flexh-align-center">
                <div class="on-dark margin-right-small text-small">Shop decorations </div>
                <div class="iconfont on-dark is-11px"><em class="iconfont__no-italize"></em></div>
              </div>
            </div>
            <div class="c-gridgallery1__image img5"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="col block-centered text-align-center lg-6 md-12">
        <h2>Special discount products</h2>
      </div>
    </div>
    <div class="container">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid1x4">
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""><div class="c-product-thumb__discount"><div>45%</div></div></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Albert Armchair, Nubuck Broken White</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""><div class="c-product-thumb__discount"><div>5%</div></div></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Albert Armchair, Nubuck Broken White</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""><div class="c-product-thumb__discount"><div>8%</div></div></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Albert Armchair, Nubuck Broken White</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
          <div class="c-product-thumb">
            <div class="c-product-thumb__top"><a href="#" class="margin-bottom-small w-inline-block"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""><div class="c-product-thumb__discount"><div>98%</div></div></a>
              <div class="text-xsmall weight-is-medium margin-bottom-small"><a href="#">Chair</a>, <a href="#">Room set</a></div>
              <div class="c-product__rating">
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-filled"></div>
                <div class="fa is-blank"></div>
              </div>
              <a href="#" class="w-inline-block">
                <div class="c-product__title">Albert Armchair, Nubuck Broken White</div>
              </a>
            </div>
            <div class="c-product__price-wrapper">
              <div class="c-product__price margin-right-small">$120</div>
              <div class="c-product__price is-slashed">$120</div>
            </div>
            <div class="c-product__quickview">
              <a href="#" class="button-primary is-small w-inline-block">
                <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section position-relative border-top-bottom-light">
    <div class="bg-section img-pattern"></div>
    <div class="container position-relative">
      <div class="col lg-8 block-centered">
        <div class="text-align-center size-h3 margin-bottom">Subscribe to our Newsletter and get 40% off on all products</div>
        <div class="max-width-500px block-centered no-margin-bottom w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="flexh-align-center xs-is-wrapping"><input type="email" class="form-input-text no-margin-bottom margin-right-small w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email address" id="email-2" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary is-small w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section padding-top-bottom-small border-top-light">
    <div class="container">
      <div class="col lg-4 md-12 flexh-align-top no-margin-bottom-lg">
        <div class="fa is-24px is-brand-color margin-right"></div>
        <div>
          <div class="size-h4 margin-bottom-small">Easy return</div>
          <div class="low-text-contrast text-small">30 day return window without any question asked, just peace of mind.</div>
        </div>
      </div>
      <div class="col lg-4 md-12 flexh-align-top no-margin-bottom-lg">
        <div class="fa is-24px is-brand-color margin-right"></div>
        <div>
          <div class="size-h4 margin-bottom-small">Global shipping</div>
          <div class="low-text-contrast text-small">We accept order around the globe and deliver to 120 countries.</div>
        </div>
      </div>
      <div class="col lg-4 md-12 flexh-align-top no-margin-bottom">
        <div class="fa is-24px is-brand-color margin-right"></div>
        <div>
          <div class="size-h4 margin-bottom-small">Secure payment</div>
          <div class="low-text-contrast text-small">Encryption of standard SSL with 128-bit symmetric key</div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{%static 'js/rylee-template.js'%}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!-- <script>
	$(document).ready(function(){
		//set default value of '1'
      	$(".quantity-input").val("1");
		incrementVar = 0;
		$('.quantity-button.is-plus').click(function(){
		    var $this = $(this),
		        $input = $this.prev('input'),
		        $parent = $input.closest('div'),
		        newValue = parseInt($input.val())+1;
		    $parent.find('.inc').addClass('a'+newValue);
		    $input.val(newValue);
		    incrementVar += newValue;
		});
		$('.quantity-button.is-minus').click(function(){
		    var $this = $(this),
		        $input = $this.next('input'),
		        $parent = $input.closest('div'),
		        newValue = parseInt($input.val())-1;
		    console.log($parent);
		    $parent.find('.inc').addClass('a'+newValue);
		    $input.val(newValue);
		    incrementVar += newValue;
		});	  
	 });
</script> -->


{% include "includes/footer.html" %}
{% endblock content %}