{% extends 'base.html' %}

{% load static %}
{% block title %}products{% endblock title %}
{% block content %}



<div class="section">
    <div class="container">
        <div class="col lg-9 md--8 xs-12 xs-margin-bottom-double">
            <div class="w-layout-grid c-products3x3">
                {%for p in product%}
                <div class="c-product-thumb">
                    <div class="c-product-thumb__top">
                        <a href="#" class="margin-bottom-small w-inline-block">
                            {% if p.get_product_image %}
                            <img style="height: 30vh; width: 100%;" src="{{p.get_product_image.image.url}}" alt="hh">

                            {% endif %}
                        </a>
                        <div class="text-xsmall weight-is-medium margin-bottom-small"><a
                                href="#">{{p.category.category_name}}</a>
                        </div>
                        <div class="c-product__rating">
                            <div class="fa is-filled"></div>
                            <div class="fa is-filled"></div>
                            <div class="fa is-filled"></div>
                            <div class="fa is-filled"></div>
                            <div class="fa is-blank"></div>
                        </div>
                        <a href="#" class="w-inline-block">
                            <div class="c-product__title">{{p.name}} </div>
                        </a>
                    </div>
                    <div class="c-product__price-wrapper">
                        <div class="c-product__price margin-right-small">₹ {{p.get_price.sale_price}}</div>
                        <div class="c-product__price is-slashed">₹ {{p.get_price.product_price}}</div>
                    </div>
                    <div class="c-product__quickview">
                        <a href="{%url 'product-detail' p.id%}" class="button-primary is-small w-inline-block">
                            <div class="button-primary-text"><span class="fa-regular is-16px"></span>  Quick view</div>
                        </a>
                    </div>
                </div>

                {%endfor%}


            </div>
            <div class="c-paging">
                <div class="iconfont margin-right-small is-11px"><em class="iconfont__no-italize"></em></div>
                <div class="c-paging__number is-dark is-rounded on-dark">1</div><a href="#"
                    class="c-paging__number">2</a><a href="#" class="c-paging__number">3</a><a href="#"
                    class="c-paging__number">4</a><a href="#" class="c-paging__number">5</a><a href="#"
                    class="c-paging__number">6</a>
                <div class="c-paging__number">...</div><a href="#" class="c-paging__number">99</a><a href="#"
                    class="iconfont margin-left-small is-11px"><em class="iconfont__no-italize"></em></a>
            </div>
        </div>
        <div class="col lg-3 md-4 xs-12">
            <div class="c-sidebar-widget">
                <div class="w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><input type="text"
                            class="form-input-text bg-icon w-input" maxlength="256" name="Search" data-name="Search"
                            placeholder="Search product" id="Search"></form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
            <div class="c-sidebar-widget">
                <h4 class="margin-bottom">Product categories</h4>
                <ul class="c-checklist">
                    {%for c in ct%}
                    <li class="c-checklist_item styl3"><a href="{%url 'products' c.id%}">{{c.category_name}}</a></li>

                    {%endfor%}
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="section padding-top-bottom-small border-top-light">
    <div class="container">
        <div class="col lg-4 md-12 flexh-align-top no-margin-bottom-lg">
            <div class="fa is-24px is-brand-color margin-right"></div>
            <div>
                <div class="size-h4 margin-bottom-small">Easy return</div>
                <div class="low-text-contrast text-small">30 day return window without any question asked, just peace of
                    mind.</div>
            </div>
        </div>
        <div class="col lg-4 md-12 flexh-align-top no-margin-bottom-lg">
            <div class="fa is-24px is-brand-color margin-right"></div>
            <div>
                <div class="size-h4 margin-bottom-small">Global shipping</div>
                <div class="low-text-contrast text-small">We accept order around the globe and deliver to 120 countries.
                </div>
            </div>
        </div>
        <div class="col lg-4 md-12 flexh-align-top no-margin-bottom">
            <div class="fa is-24px is-brand-color margin-right"></div>
            <div>
                <div class="size-h4 margin-bottom-small">Secure payment</div>
                <div class="low-text-contrast text-small">Encryption of standard SSL with 128-bit symmetric key</div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="c-overlay">
    <div class="c-overlay__modal">
        <div class="container">
            <div class="col no-margin-bottom lg-5 sm-12 sm-margin-bottom">
                <div data-animation="slide" data-duration="500" data-infinite="1" class="c-slider w-slider">
                    <div class="w-slider-mask">
                        <div class="w-slide"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE 1000w"
                                sizes="100vw" alt=""></div>
                        <div class="w-slide"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt="">
                        </div>
                        <div class="w-slide"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt="">
                        </div>
                        <div class="w-slide"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt="">
                        </div>
                        <div class="w-slide"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE 1000w"
                                sizes="100vw" alt=""></div>
                    </div>
                    <div class="c-slider__left-arrow w-slider-arrow-left">
                        <div class="w-icon-slider-left"></div>
                    </div>
                    <div class="c-slider__right-arrow w-slider-arrow-right">
                        <div class="w-icon-slider-right"></div>
                    </div>
                    <div class="c-slider__nav w-slider-nav w-slider-nav-invert w-round"></div>
                </div>
            </div>
            <div class="col lg-1"></div>
            <div class="col no-margin-bottom lg-6 sm-12">
                <div class="size-h3 margin-bottom-small">Albert Armchair, Nubuck White</div>
                <div class="c-product__rating margin-bottom">
                    <div class="fa is-filled"></div>
                    <div class="fa is-filled"></div>
                    <div class="fa is-filled"></div>
                    <div class="fa is-filled"></div>
                    <div class="fa is-blank"></div>
                </div>
                <div class="size-h2 margin-bottom">$120</div>
                <p>Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur acidisping
                    vestibulum at eros. Duis mollis, est non sepulaids</p>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form">
                        <div class="flexh-align-center">
                            <div class="flexh-align-center margin-right"><a href="#"
                                    class="quantity-button is-minus">+</a><input type="text" maxlength="256"
                                    name="field" data-name="Field" required="" class="quantity-input w-input"><a
                                    href="#" class="quantity-button is-plus">-</a></div><input type="submit"
                                value="Add to cart" data-wait="Please wait..." class="button-primary is-small w-button">
                        </div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
        <a data-w-id="202df1b2-468b-88dd-04a0-44fffda14bc3" href="#" class="c-close-btn w-inline-block">
            <div class="iconfont"><em class="iconfont__no-italize"></em></div>
        </a>
    </div>
</div> -->
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{%static 'js/rylee-template.js'%}" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
    // $(document).ready(function () {
    //     //set default value of '1'
    //     $(".quantity-input").val("1");
    //     incrementVar = 0;
    //     $('.quantity-button.is-plus').click(function () {
    //         var $this = $(this),
    //             $input = $this.prev('input'),
    //             $parent = $input.closest('div'),
    //             newValue = parseInt($input.val()) + 1;
    //         $parent.find('.inc').addClass('a' + newValue);
    //         $input.val(newValue);
    //         incrementVar += newValue;
    //     });
    //     $('.quantity-button.is-minus').click(function () {
    //         var $this = $(this),
    //             $input = $this.next('input'),
    //             $parent = $input.closest('div'),
    //             newValue = parseInt($input.val()) - 1;
    //         console.log($parent);
    //         $parent.find('.inc').addClass('a' + newValue);
    //         $input.val(newValue);
    //         incrementVar += newValue;
    //     });
    // });
</script>
<script>
    Webflow.push(function () {
        // When a thumbnail is clicked, update target slider
        $('[data-thumbs-for]').on('click', '.w-slide', function () {
            // Find target slider, if not found exit
            var target = $($(this).parents('.w-slider').attr('data-thumbs-for'));
            if (target.length == 0) return;
            // Update target slider by triggering a "tap" event on the targetNav corresponding slide button
            target.find('.w-slider-nav').children().eq($(this).index()).trigger('tap');
        }); // End click function
    }); // End ready function
</script>


{% include "includes/footer.html" %}
{% endblock content %}