{% extends 'base.html' %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block links %}
 <!-- Font Icon -->
 <link rel="stylesheet" href="{%static 'signin/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

 <!-- Main css -->
 <link rel="stylesheet" href="{%static 'signin/css/style.css'%}">
{% endblock links %}

{% block style %}
<style>

  .f-login{
    width: 50%;
  }
  .login{
    font-weight: 600;
  }

  .section{
    margin-top: -90px;
  }
</style>
{% endblock style %}

{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4"></div>
  <div class="col-4">
      {% for msg in messages %}
      {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
       <strong>{{msg}}</strong> 
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
      {% else %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       <strong>{{msg}}</strong> 
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
      {% endif %}
   {% endfor %}
  </div>
</div>
<div class="container">


<div class="col-4">{% if form.errors  %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{form.errors}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}</div>

</div>


<div class="section">
        <!-- Sign up form -->
        <section class="signup">
          <div class="container">
              <div class="signup-content">
                  <div class="signup-form">
                      <h2 class="form-title">Sign up</h2>
                      <form method="POST" class="register-form" id="register-form">
                        {% csrf_token %}
                          <div class="form-group">
                              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              <input type="text" name="first_name" id="name" placeholder="First Name"/>
                          </div>
                          <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="last_name" id="name" placeholder="Last Name"/>
                        </div>
                          <div class="form-group">
                              <label for="email"><i class="zmdi zmdi-email"></i></label>
                              <input type="email" name="email" id="email" placeholder="Your Email"/>
                          </div>
                          <div class="form-group">
                              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                              <input type="password" name="password1" id="pass" placeholder="Password"/>
                          </div>
                          <div class="form-group">
                              <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                              <input type="password" name="password2" id="re_pass" placeholder="Repeat your password"/>
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                          </div>
                          <div class="form-group form-button">
                              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                          </div>
                      </form>
                  </div>
                  <div class="signup-image">
                      <figure><img src="{%static 'signin/images/signup-image.jpg'%}" alt="sing up image"></figure>
                      <a href="#" class="signup-image-link">I am already member</a>
                  </div>
              </div>
          </div>
      </section>

  </div>



</div>
{% endblock content %}

{% block script %}
<script src="{%static 'signin/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'signin/js/main.js'%}"></script>
{% endblock script %}