{% load static %}

<header class="navigation-section">
    <div class="navigation-overlay"></div>
    <div class="navigation-and-offcanvas">
      <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg"><a href="#" class="brand justify-left w-inline-block"><img src="{%static 'images/-asset-logo-dark.svg'%}" alt=""></a></div>
      <div class="col no-margin-bottom lg-8 md-basis-auto md-order-last">
        <nav class="navigation-menu flexh-justify-center position-relative"><a href="{%url 'home'%}" class="nav-link w--current">Home</a>
          <div data-hover="1" data-delay="0" data-w-id="fc005ed5-8c32-46d8-e974-eceecf05a618" class="nav-dropdown has-megamenu w-dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
              <a href="financial/services.html" class="nav-link-block w-inline-block">
                <div>Shop</div>
                <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              </a>
            </div>
            <nav class="c-megadropdown w-dropdown-list">
              <div class="container container-nested">
                <div class="col lg-3 md-12 no-margin-bottom-lg">
                  <h4 class="dropdown-title">Categories</h4><a href="{%url 'category'%}" class="c-megadropdown_link w-dropdown-link">Categories</a><a href="#" class="c-megadropdown_link w-dropdown-link">Gaming chair</a><a href="#" class="c-megadropdown_link w-dropdown-link">Ottoman chair</a><a href="#" class="c-megadropdown_link w-dropdown-link">Accent chair</a></div>
                <div class="col lg-3 md-12 no-margin-bottom-lg">
                  <h4 class="dropdown-title">Product layout </h4><a href="single-product.html" class="c-megadropdown_link w-dropdown-link">Standard</a><a href="single-product-with-scrolling-photos.html" class="c-megadropdown_link w-dropdown-link">Big photos</a><a href="single-product-w-left-sidebar.html" class="c-megadropdown_link w-dropdown-link">Left sidebar</a><a href="single-product-w-right-sidebar.html" class="c-megadropdown_link w-dropdown-link">Right sidebar</a></div>
                <div class="col lg-3 md-12 no-margin-bottom-lg">
                  <h4 class="dropdown-title">Shop grid style</h4><a href="shop-2-col.html" class="c-megadropdown_link w-dropdown-link">2 columns</a><a href="shop-3-col.html" class="c-megadropdown_link w-dropdown-link">3 columns</a><a href="shop-4-col.html" class="c-megadropdown_link w-dropdown-link">4 columns</a><a href="shop-5-col-fullwidth.html" class="c-megadropdown_link w-dropdown-link">5 cols &amp; fullwidth</a></div>
                <div class="col lg-3 md-12 no-margin-bottom-lg">
                  <h4 class="dropdown-title">Pages</h4><a href="" class="c-megadropdown_link w-dropdown-link">Cart</a><a href="checkout.html" class="c-megadropdown_link w-dropdown-link">Checkout</a><a href="order-complete.html" class="c-megadropdown_link w-dropdown-link">Order complete</a><a href="login-registration.html" class="c-megadropdown_link w-dropdown-link">Login / Register</a></div>
              </div>
            </nav>
          </div><a href="about.html" class="nav-link">About</a><a href="blog.html" class="nav-link">Blog</a><a href="contact.html" class="nav-link">Contact</a>
          <div data-hover="1" data-delay="0" data-w-id="fc005ed5-8c32-46d8-e974-eceecf05a65c" class="nav-dropdown w-dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
              <a href="financial/services.html" class="nav-link-block w-inline-block">
                <div>Pages</div>
                <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              </a>
            </div>
            <nav class="dropdown-list w-dropdown-list"><a href="lookbook.html" class="dropdown-link w-dropdown-link">Lookbook</a><a href="single-post.html" class="dropdown-link w-dropdown-link">Single post</a></nav>
          </div>
        </nav>
      </div>
      <div class="col no-margin-bottom lg-2 lg-text-align-right md-basis-auto">
        <div class="inline-block position-relative"><a data-w-id="fc005ed5-8c32-46d8-e974-eceecf05a66c" href="#" class="c-navbar-icon"></a>
          <div class="c-search-popup w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><input type="text" class="form-input-text w-input" maxlength="256" name="Search-2" data-name="Search 2" placeholder="Search product" id="Search-2"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
            <a data-w-id="0d9236df-2bb5-5160-afe8-9bcead019112" href="#" class="c-search-popup__close-btn w-inline-block">
              <div><em class="iconfont__no-italize"></em></div>
            </a>
          </div>
        </div><a href="login-registration.html" class="c-navbar-icon is-19px"></a>
        <div data-w-id="11f9c14f-6862-95c1-4399-a7985f01b570" class="c-cart"><a href="{%url 'cart'%}" class="c-navbar-icon"></a>
        </div>
      </div>
      <a data-w-id="fc005ed5-8c32-46d8-e974-eceecf05a672" href="#" class="c-nav__close-button w-inline-block">
        <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
      </a>
    </div>
    <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="images/-asset-logo-dark.svg" alt="" class="logo-image"></a>
      <a data-w-id="fc005ed5-8c32-46d8-e974-eceecf05a67b" href="#" class="burger-button w-inline-block">
        <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
      </a>
    </div>
  </header>